external-sources=true

enable=avoid-nullary-conditions
enable=quote-safe-variables
enable=require-double-brackets
enable=require-variable-braces

# Ignore "Expressions don't expand in single quotes"
disable=SC2016

# Ignore "Use "${var:?}" to ensure this never expands to /*"
disable=SC2115
